.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: x-large;
  color: #797176;
  width:100%;
  font-family:emoji;
}

.input {
  width:50%;
  height: 43px;
  border: 1px solid #797176;
  border-radius: 4px;
  margin-top:10px;
}

.submitbtn {
  color: #fff;
  background: #797176;
  border: 1px solid #797176;
}

.submitbtn:hover, .submitbtn:focus, .submitbtn.focus {
  color: rgb(5, 5, 5);
  text-decoration: none;
}

.submitbtn-lg {
  padding: 10px 24px;
}

.logo {
  height: 60px;
}

.error {
  color: rgb(241, 13, 13);
}
